/* You can add global styles to this file, and also import other style files */

.header_bar {
    height: auto;
    height: 5em;
    background-color: red;
    color: white;
}
.about {
    margin-top: -3.5em;
    padding-bottom: 2em;
    padding-right: 2em;
    text-align: center;
    float: right;
}
.title {
    font-size: 3em;
    color: white;
    padding-top: 1em;
    width: 75%;
    float: left;
}
html {
    font-size: 100%;
    line-height: 1.5em;
}
html {
    font-family: "Gotham-Book", Verdana, "Trebuchet MS", Arial, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
}
aside,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}
a {
    background: transparent;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
h2 {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
    font-size: 1.17em;
    line-height: 1.28205em;
    margin-top: 1.28205em;
    margin-bottom: 1.28205em;
}
h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
h5 {
    font-size: 0.83em;
    line-height: 1.80723em;
    margin-top: 1.80723em;
    margin-bottom: 1.80723em;
}
h6 {
    font-size: 0.67em;
    line-height: 2.23881em;
    margin-top: 2.23881em;
    margin-bottom: 2.23881em;
}
p,
pre {
    margin: 1.5em 0;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
button,
input,
optgroup,
select,
textarea {
    color: red;
    font: inherit;
    margin: 0;
    *font-family: "Gotham-Book", Verdana, "Trebuchet MS", Arial, serif;
    *vertical-align: middle;
}
button:hover {
    color: blue;
}
a,
a:hover,
.theme--main .logo img,
.theme--main .logo:hover img {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-property: font-size, margin, padding, -moz-transform, width, height, background-color, color, opacity;
    -o-transition-property: font-size, margin, padding, -o-transform, width, height, background-color, color, opacity;
    -webkit-transition-property: font-size, margin, padding, -webkit-transform, width, height, background-color, color, opacity;
    transition-property: font-size margin padding transform width height background-color color opacity;
}
b,
strong {
    font-family: "Gotham-Bold"
}
i,
em {
    font-family: "Gotham-Italic"
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Gotham-Medium"
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: blue;
}
a:hover .fa {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
footer {
    margin-top: 2em;
    text-align: center;
}
.theme--main {
    background: gray;
}
.theme--main .content {
    background: #f4f4f4;
    padding-bottom: 2em;
}
.theme--main .container {
    max-width: 78em;
    margin-left: auto;
    margin-right: auto;
}
.theme--main .container:after {
    content: " ";
    display: block;
    clear: both;
}
.theme--main .sidebar {
    width: 25%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    -moz-border-radius-bottomleft: 50px;
    -webkit-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.25);
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.25);
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.25);
    background: #fff;
    text-align: center;
}
.theme--main .sidebar ul {
    margin: 1em 0 3em;
}
.theme--main .sidebar li {
    margin-top: 1em;
}
.theme--main .main {
    width: 75%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    color: #333;
}
.theme--main .logo {
    display: block;
    margin: 1.5em 0;
    color: red;
}
.theme--main .logo img {
    width: 70%
}
.theme--main .logo:hover img {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.theme--main .footer {
    background: #333;
    padding: 2em 0;
    margin-top: 0;
}
.theme--main .footer a {
    color: #EDAB23;
}
.theme--main .footer a:hover {
    color: red;
}
@media (max-width: 64em) {
    .theme--main .sidebar {
        width: 33.33333%;
        float: left;
        padding-left: 2.08333%;
        padding-right: 2.08333%
    }
    .theme--main .main {
        width: 66.66667%;
        float: left;
        padding-left: 2.08333%;
        padding-right: 2.08333%
    }
    .header_bar {
        height: 5em;
        background-color: red;
        color: white;
    }
    .about {
        margin-top: 1em;
        padding-bottom: 2em;
        padding-right: 2em;
        text-align: center;
        float: right;
    }
    .title {
        font-size: 2em;
        color: white;
        padding-top: 1em;
        width: 25%;
        float: left;
    }
}
.theme--form {
    background: #00A9B4;
}
.theme--form header,
.theme--form footer {
    vertical-align: middle;
}
.theme--form header {
    border-bottom: 10px solid #EDAB23;
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
.theme--form header nav {
    position: absolute;
    top: 0;
    right: 10px;
}
.theme--form footer {
    border-top: 10px solid #EDAB23;
    padding: 40px 0 20px;
}